# Ambientes virtuais
venv/
env/

# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários
*.log
*.tmp

# Configs de IDE
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db
